{{>partials/header}}
<section class="banner_404" style="background-image: url('images/404_error.jpg')">
<h2>Página não encontrada</h2>
</section>
<div class="container list">
</div>

<div class="container no-list">
    
</div>    

